@font-face {
font-family: 'Material Icons';
src:url("/lib/Material-Design-Icons.woff2") format('woff2');
}

.material-icons {
font-family: 'Material Icons';
font-weight: normal;
font-style: normal;
-webkit-font-feature-settings: 'liga';
}
